@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
  background-color: #f7f7f7;
}

section {
  height: 100vh;
  background: #f6f7fb;
  width: 100%;
  padding-top: 100px;

}

.app {
  max-width: 600px;
  padding: 0 16px;
  margin: auto;
}

h1 {
  font-size: 28px;
  margin-bottom: 16px;
}

.input-wrap {
  display: flex;
  gap: 10px;
}

.input-wrap input {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px 12px;
  border-radius: 5px;
}

.input-wrap button {
  border-radius: 5px;
  border: none;
  padding: 10px 14px;
  background-color: #111;
  color: #fff;
  font-size: 16px;
}

.input-wrap button[disabled] {
  opacity: .6;
  cursor: not-allowed;
}